<thead>
<tr>
    <th>Id</th>
    <th>Quantity</th>
    <th>Create_at</th>
    <th>actions</th>
</tr>
</thead>
<tbody>
{% for fournir in fournirs %}
    <tr>
        <td>{{ fournir.id }}</td>
        <td>{{ fournir.quantity }}</td>
        <td>{{ fournir.createAt ? fournir.createAt|date('Y-m-d H:i:s') : '' }}</td>
        <td>
            <a href="{{ path('fournir_show', {'id': fournir.id}) }}">show</a>
            <a href="{{ path('fournir_edit', {'id': fournir.id}) }}">edit</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="4">no records found</td>
    </tr>
{% endfor %}
</tbody>